.list{
background:lightyellow;
border:10px solid yellow;
margin-bottom:10px;
width:720px;
padding:10px;
}
label{
  width:180px;
  display:inline-block;
  text-align:right top;
}
.list3 label{
  text-align:center;
  background-color:purple;
  color:white;
}
.list4 textarea{
  width:360px;
  height:50px;
}
